.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  border: 2px black solid;
  box-shadow: 8px 8px #213b67;
}
.leaflet-popup-content {
  margin: 0; 
}

.leaflet-popup-tip {
  display: none;
}