body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  background-color: #67213b;
  color: #f7f3f5;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}